@import './global.scss';

$background-top-color: rgb(255, 134, 177);
$background-bottom-color: rgb(254, 254, 226);

$max-background-size: 600vw;

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .background {
    position: absolute;
    width: $max-background-size;
    height: 100vh;
  }
  
  .sky {
    position: relative;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, $background-top-color 35%, $background-bottom-color 60%);

    .sun {
      position: absolute;
      
      left: 50vw;
      top: 32em;

      width: 5em;
      height: 5em;
      
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(white 1%, transparent 60%, transparent);
      z-index: 40;
    }

    .sun-light {
      position: absolute;
      
      left: 50vw;
      top: 32em;
      
      width: 15em;
      height: 15em;
      
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba(255, 255, 255, 0.7) 1%, transparent 60%, transparent);
      z-index: 60;
    }

    .stars {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .lines {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    
  }

  .ground {
    position: relative;
    width: $max-background-size;
    height: 20%;
    background-color: rgb(196, 56, 93);
    overflow: hidden;
    z-index: 100;
  }
}