@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

$z-index-background: 1000;
$z-index-content: 3000;
$z-index-ui: 3000;

// font
.font-noto-sans {
  font-family: 'Noto Sans KR', sans-serif;
}

// size
.full-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// shadow
.card-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}