@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

// z-index
$z-index-background: 1000;
$z-index-ui: 2000;
$z-index-content: 3000;
$z-index-hider: 10000;

// screen size
$screen-mobile: 425px;
$screen-tablet: 769px;
$screen-notebook: 1441px;

// font
.font-noto-sans {
  font-family: 'Noto Sans KR', sans-serif;
}

// @media
// @media mixin
@mixin media-mobile {
  @media (max-width: $screen-mobile) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $screen-mobile) and (max-width: $screen-tablet) {
    @content;
  }
}

@mixin media-notebook {
  @media (min-width: $screen-tablet) and (max-width: $screen-notebook) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $screen-notebook) {
    @content;
  }
}

// size
.full-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// shadow
.card-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}