@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

// font
.font-noto-sans {
  font-family: 'Noto Sans KR', sans-serif;
}

// size
.full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}