@import '../../global.scss';

$background-top-color: rgb(255, 134, 177);
$background-bottom-color: rgb(254, 254, 226);

// 10vw = spring 방지
$max-background-size: 610vw;

$screen-width: 100vw;
$screen-height: 100vh;

#background-container {
  position: absolute;
  display: flex;

  width: $screen-width;
  height: $screen-height;
  
  justify-content: center;
  align-items: center;
  
  overflow: hidden;

  .contact-frame {
    @extend .card-shadow;

    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  .background-content {
    position: absolute;

    top: 0;
    left: 0;

    width: $max-background-size;
    height: $screen-height;
  }
  
  .sky {
    position: absolute;

    top: 0;
    left: 0;

    width: $screen-width;
    height: 80%;
    background: linear-gradient(to bottom, $background-top-color 35%, $background-bottom-color 60%);

    .sun {
      position: absolute;
      
      left: 50vw;
      top: 32em;

      width: 5em;
      height: 5em;
      
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(white 1%, transparent 60%, transparent);
      z-index: #{$z-index-background + 40};
    }

    .sun-light {
      position: absolute;
      
      left: 50vw;
      top: 32em;
      
      width: 15em;
      height: 15em;
      
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba(255, 255, 255, 0.7) 1%, transparent 60%, transparent);
      z-index: #{$z-index-background + 60};
    }

    .stars {
      position: absolute;
      width: $screen-width;
      height: 100%;
    }

    .lines {
      position: absolute;
      width: $screen-width;
      height: 100%;
    }    
  }

  .ground {
    position: absolute;

    left: 0;
    bottom: 0;

    width: $max-background-size;
    height: 20%;
    
    background-color: rgb(196, 56, 93);
    overflow: hidden;
    z-index: #{$z-index-background + 100};
  }
}