.sea {
  position: absolute;
  width: 100em;
  height: 10em;
  border-radius: 50%;
  background-color: rgb(255, 255, 235);
  transform: translate(-50%, -50%);

  &:nth-of-type(1) {
    width: 110em;
    height: 10em;
    left: 0;
    top: 0;
  }

  &:nth-of-type(2) {
    width: 160em;
    height: 4em;
    left: 0;
    top: 3em;
  }

  &:nth-of-type(3) {
    width: 100em;
    height: 10em;
    left: 0;
    top: 7em;
  }

  &:nth-of-type(4) {
    width: 120em;
    height: 20em;
    left: 0;
    top: 15em;  
  }
}